*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    background-color:#FFFFFF;
}

.main{
    width: 100%;
    height: calc(100% - 100px);
    
    display: flex;
  
}

.leftbox{
    width: 45%;
    height: 100%;
    position: relative;
    /* background-color: aquamarine; */
    
    
    /* background-color: blue; */
}

.leftbox .alltext{
    /* background-color: blueviolet; */
    position: absolute;
    top: 200px;
    left: 100px;
    transform: translate(-50% -50%);
}

.rightbox{
    width: 55%;
    height: 100%;
    margin-left: 10%;
    /* background-color: brown; */
    
    
}
.rightbox .bg{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(./career-coaching-illustration-vec.webp);
    background-size: contain;
}


.leftbox h1{
    font-size: 100px;
    color: #F5777A;
}
.leftbox p{
    font-size: 40px;
    opacity: .5;
    margin-top: 30px;
    margin-bottom: 30px;
}
.leftbox button{
    font-size: 25px;
    padding: 15px 25px;
    border-radius: 15px;
    background-color: #F5777A;
    color: black;
}



